[project]
name = "commercial-multi-agent-app"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "dotenv>=0.9.9",
    "openai>=2.15.0",
    "pydantic[email]>=2.12.5",
]
